bd(color, width = 1px)
  border width solid color;/*no*/
bd-t(color, width = 1px)
  border-top width solid color;/*no*/
bd-b(color, width = 1px)
  border-bottom width solid color;/*no*/
bd-r(color, width = 1px)
  border-right width solid color;/*no*/
bg(url)
  background url('./images/' + url) no-repeat center
  background-size 100% 100%
border-radius(num)
  border-radius num
  overflow hidden
f12()
  font-size 12px
f14()
  font-size 14px
f16()
  font-size 16px
f18()
  font-size 18px
f20()
  font-size 20px
f24()
  font-size 24px
f28()
  font-size 28px
f32()
  font-size 32px
f36()
  font-size 36px
fz(size)
  font-size size
flex-f()
  display flex
flex-s-btw()
  flex-f()
  justify-content space-between
flex-align-item()
  flex-s-btw()
  align-items center
flex-f-align()
  flex-f()
  align-items center
flex-center()
  flex-f()
  align-items center
  justify-content center
flex-col()
  display flex
  flex-direction column
flex-col-btw()
  flex-col()
  justify-content space-between
pe()
  pointer-events none
pf(val)
  width 100%
  position fixed
  height val
tc()
  text-align center
tr()
  text-align right
text-over(num)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp num
  word-break break-all
wb()
  white-space normal
  word-wrap break-word
  word-break break-all
wh(val)
  width val
  height val

