// 颜色定义规范
$color-0 = #000000
$color-3 = #333333
$color-4a = #4a4a4a
$color-5 = #555555
$color-6 = #666666
$color-64 = #646464
$color-8e = #8e8e8e
$color-9 = #999999
$color-96 = #969696
$color-97 = #979797
$color-9b = #9b9b9b

$color-a4 = #a45800
$color-a6 = #a6a6a6
$color-ab = #ababab

$color-bc = #bcbcbc
$color-bg = #f0f0f0
$color-body = #f8f8f8
$color-border = #dfdfdf
$color-blue = #007aff

$color-c = #cccccc
$color-c2 = #c2c2c2
$color-c3 = #c3c3c3
$color-cf = #cfcfcf
$color-cyan = #7981d4

$color-de = #dedede
$color-df = #dfdfdf

$color-e3 = #e3e3e3
$color-e6 = #e6e6e6

$color-f3 = #ffb300
$color-f4 = #f4f4f4
$color-f5 = #f5f5f5
$color-f6 = #f6f6f6
$color-f7 = #f7f7f7
$color-f9 = #ff9900

$color-orange = #ff8a00
$color-red = #ff0000
$color-white = #fff




