// 颜色定义规范
$color-white = #fff
$color-bg = #f0f0f0
$color-orange = #ff8a00
$color-orange1 = #ffe8cc
$color-orange2 = #feb446
$color-orange3 = #ff6633
$color-orange4 = #fe8449
$color-orange5 = #b74e1b
$color-orange6 = #f09e77
$color-orange7 = #fff8f5
$color-orange8 = #ffedd6
$color-orange9 = #ff9c00
$color-orange10 = #ff8c00
$color-body = #f8f8f8
$color-border = #dfdfdf
$color-text = #8d8795
$color-0 = #000000
$color-3 = #333333
$color-5 = #555555
$color-6 = #666666
$color-64 = #646464
$color-9 = #999999
$color-97 = #979797
$color-96 = #969696
$color-c2 = #c2c2c2
$color-df = #dfdfdf
$color-f4 = #f4f4f4
$color-f3 = #ffb300
$color-f5 = #f5f5f5
$color-f9 = #ff9900
$color-9b = #9b9b9b
$color-a4 = #a45800
$color-4a = #4a4a4a
$color-8e = #8e8e8e
$color-e6 = #e6e6e6
$color-e3 = #e3e3e3
$color-d = #dddddd
$color-df = #dfdfdf
$color-de = #dedede
$color-bc = #bcbcbc
$color-cf = #cfcfcf
$color-f7 = #f7f7f7
$color-red = #ff3000
$color-background-d = rgba(0, 0, 0, .4)
$color-a6 = #a6a6a6
$color-c = #cccccc
$color-c3 = #c3c3c3
$color-cyan = #7981d4
$color-red = #ff0000
$color-ab = #ababab
$color-blue = #007aff
$color-pink = #f7719d
$color-gray = #c7c7cc
$color-cover-background = rgba(0, 0, 0, 0.5)
$color-yellow = #e3bb69



