// 颜色定义规范
$color-white = #fff
$color-bg = #f0f0f0
$color-orange = #ff8a00
$color-orange1 = #ffe8cc
$color-orange2 = #feb446
$color-orange3 = #ff6633
$color-orange4 = #fe8449
$color-orange5 = #b74e1b
$color-orange6 = #f09e77
$color-orange7 = #fff8f5
$color-orange8 = #ffedd6
$color-orange9 = #ff9c00
$color-orange10 = #ff8c00
$color-border = #e3e3e3
$color-body = #f8f8f8
$color-text = #8d8795
$color-0 = #000000
$color-3 = #333333
$color-5 = #555555
$color-6 = #666666
$color-9 = #999999
$color-border = #dfdfdf
$color-f4 = #f4f4f4
$color-8e = #8e8e8e
$color-df = #dfdfdf
$color-de = #dedede
$color-bc = #bcbcbc
$color-f7 = #f7f7f7
$color-red = #ff3000
$color-background-d = rgba(0, 0, 0, .4)
$color-a6 = #a6a6a6
$color-c = #cccccc
$color-cyan = #7981d4
$color-red = #ff0000
$color-red1 = #f23b3b
$color-ab = #ababab
$color-blue = #007aff
$color-blue2 = #63baf8
$color-blue3 = #3380b6
$color-blue4 = #7cb4db
$color-blue5 = #98bff1
$color-blue6 = #a8c8f3
$color-pink = #f7719d
$color-pink1 = #b52c59
$color-pink2 = #e888a7
$color-pink3 = #fff4f8
$color-gray = #c7c7cc
$color-gray1 = #a6a5a5
$color-gray2 = #f4faff
$color-gray3 = #696175
$color-cover-background = rgba(0, 0, 0, 0.5)
$color-yellow = #e3bb69
$color-yellow1 = #a4884e
$color-yellow2 = #b49451
$color-yellow3 = #bc9a56
$color-yellow4 = #ebd096
$color-yellow5 = #e3bb69


